<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.myproject">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_appicon"
        android:label="멍노트"
        android:roundIcon="@mipmap/ic_launcher_appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject"
        tools:replace="android:label">
        <activity
            android:name=".note_search.SearchNoteActivity"
            android:exported="false" />
        <activity
            android:name=".my.MyDealReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".community_search.SearchDealLocalActivity"
            android:exported="false" />
        <activity
            android:name=".community_search.SearchCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".receipt.SearchReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".deal.ChoiceBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".my.ShowMyBuyActivity"
            android:exported="false" />
        <activity
            android:name=".my.ShowMyDealActivity"
            android:exported="false" />
        <activity
            android:name=".deal.SpecificChatActivity"
            android:exported="false" />
        <activity
            android:name=".deal.DealChatInActivity"
            android:exported="false" />
        <activity
            android:name=".chat.AllChatFragment"
            android:exported="false" />
        <activity
            android:name=".note.DogCheckUpPictureEditActivity"
            android:exported="false" />
        <activity
            android:name=".deal.DealEditActivity"
            android:exported="false" />
        <activity
            android:name=".deal.DealInActivity"
            android:exported="false" />
        <activity
            android:name=".deal.SearchLocalActivity"
            android:exported="false" />
        <activity
            android:name=".deal.WriteDealActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatInActivity"
            android:exported="false" />
        <activity
            android:name=".my.ShowUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".my.UserManageActivity"
            android:exported="false" />
        <activity
            android:name=".my.ShowMyCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".comment.WriteReCommentActivity"
            android:exported="false" />
        <activity
            android:name=".walk.StartWalkActivity"
            android:exported="false" />
        <activity
            android:name=".receipt.ReceiptRecordEditActivity"
            android:exported="false" />
        <activity
            android:name=".receipt.PlusReceiptRecordActivity"
            android:exported="false" />
        <activity
            android:name=".statistics.CheckUpPictureStatisticsInActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogCheckUpPictureInActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogCheckUpInputEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusCheckUpPictureActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusCheckUpInputActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityImageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".note.ImageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogMemoInActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogMemoEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusMemoActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogMedicineEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogMedicinePlanEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusMedicinePlanActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusHeartActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogVomitEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusVomitActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogDungEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusDungActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogPeeEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusPeeActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogWaterEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusWaterActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogTonicEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogSnackEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.DogMealEditActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusTonicActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusSnackActivity"
            android:exported="false" />
        <activity
            android:name=".note.PlusMealActivity"
            android:exported="false" />
        <activity
            android:name=".comment.CommentEditActivity"
            android:exported="false" />
        <activity
            android:name=".community.SpecificCommunityEditActivity"
            android:exported="false" />
        <activity
            android:name=".community.SpecificCommunityInActivity"
            android:exported="false" />
        <activity
            android:name=".community.WriteSpecificCommunityActivity"
            android:exported="false"
            android:label="@string/title_activity_write_specific_community"
            android:theme="@style/Theme.MyProject.NoActionBar" />
        <activity
            android:name=".my.ChoiceMainDogActivity"
            android:exported="false" />
        <activity
            android:name=".my.DogProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".my.DogProfileInActivity"
            android:exported="false" />
        <activity
            android:name=".my.WriteDogProfileActivity"
            android:exported="false" />
        <activity
            android:name=".my.MakeAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".my.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".my.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".my.MyActivity"
            android:exported="false" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityEditActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityInActivity"
            android:exported="false" />
        <activity
            android:name=".community.WriteCommunityActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".JoinActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.techtown.myproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".my.AlarmReceiver" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyB2JI3MpgerNW4aU2Q3mUxFX3rE3fAZgBg" /> -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="b49e1b1g73" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".AlarmRecevier"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>